*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
.top{
  background-color: rgb(240, 120, 16);
  position: fixed;
  width: 100%;
  box-shadow: 0 1px grey;
  display: flex;
  justify-content: center;
}
.top .top-menu{
  height: 70px;
  max-width: 1200px;
  width: 98%;
  background-color: rgb(240, 120, 16);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li{
  display: inline-block;
  list-style: none;
  padding: 0 3px;
}

.top-menu img{
  height: 30px;
  width: 125px;
}



