*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

li{
  display: inline-block;
  list-style: none;
  padding: 5px 3px 0 0;
}

/* HEADER */
.top-bar{
  background-color: rgb(240, 120, 16);
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 1px grey;
  display: flex;
  justify-content: center;
  z-index: 999;
}

.top-menu, .bottom-menu{
  height: 70px;
  max-width: 1200px;
  width: 98%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-menu ul {
  font-weight: bold;
}

.top-menu img{
  height: 30px;
  width: 125px;
}

/* MAIN */
.container{
  border: 1px solid black;
  margin: 100px auto;
  max-width: 1200px;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card{
  position: relative;
  width: 30%;
  min-width: calc(1200px / 6);
  height: 40%;
  margin-bottom: 30px;
}

.image-box img{
  max-width: 100%;
  max-height: 100%;
}

.first-img{
  position: absolute;
  top: 0;
  left: 0;
}

.image-box:hover .first-img{
  opacity: 0;
}

.discount, .sustain, .sustain-last{
  color: white;
  position: absolute;
  padding: 5px;
  bottom: 70px;
  font-size: 0.7em;
}

.discount{
  background-color: red;
  left: 0;
}

.sustain{
  background-color: green;
  left: 40px;
}

.sustain-last{
  background-color: green;
  left: 0;
}

.heart{
  background-color: white;
  padding: 5px 15px;
  font-size: 2em;
  position: absolute;
  top: 5px;
  right: 0;
}

.heart:hover{
  color: red;
  cursor: pointer;
}


.text-box{
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
}

h4{
  text-transform: uppercase;
  font-weight: bold;
}

.price, .brand{
  font-size: 0.8em;
}

.new-price{
  color: red;
}

.old-price{
  text-decoration: line-through;
}

/* FOOTER */
.bottom-bar{
  background-color: rgb(21, 20, 20);
  display: flex;
  justify-content: center;
}

.legal-info span{
  font-weight: bold;
}

.legal-info ul{
  font-size: 0.8em;
}

.social span{
  font-size: 0.7em;
}





